.container-coin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

img {
  height: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 32px 24px 33px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 32px 24px 33px 0px rgba(0,0,0,0.38);
  box-shadow: 32px 24px 33px 0px rgba(0,0,0,0.38);
}

.btn {
  cursor: pointer;
}
ion-header{
  --ion-background-color: #3f5561;
  --ion-text-color: #ffffff;
}

ion-content {
  --ion-background-color: #a9c5d4;
  font-family: "Edu NSW ACT Foundation", cursive;
  --ion-text-color: #ffffff;

}

ion-footer{
  --ion-background-color:#437b99;
  --ion-text-color: #ffffff;


}
